# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'xxxx'

DB_USERNAME = 'xxxx'

DB_PASSWORD = 'xxxx'

# Payment Settings
PAYPAL_API_USERNAME = 'xxxx'
PAYPAL_API_PASSWORD = 'xxxx'

PAYPAL_PAYFLOW_VENDOR_ID = 'xxxx'
PAYPAL_PAYFLOW_PASSWORD = 'xxxx'